@model HappyMe.Web.Areas.Administration.ViewModels.Dashboard.ChildViewModel

<div class="col-md-3 col-sm-6 dasboard-child-container top-buffer">
    <div class="inner-container">
        <img src="@Model.ImageUrl" alt="Picture of @Model.ImageUrl" class="img-responsive img-circle" />
        <h3 class="large-heading">@Html.DisplayFor(x => x.UserName)</h3>
        <a asp-action="Index"
           asp-controller="ChildrenStatistics"
           asp-area="Administration"
           asp-route-username="@Model.UserName"
           class="btn btn-warning top-buffer btn-rounded">Статистика</a>
        <a asp-action="LoginChild"
           asp-controller="Dashboard"
           asp-area="Administration"
           asp-route-username="@Model.UserName"
           class="btn btn-primary top-buffer btn-rounded">Започни сесия</a>
    </div>
</div>

