@using Resource = Resources.Account.Views.Register;
@model HappyMe.Web.ViewModels.Account.RegisterViewModel

@section styles {
    @Styles.Render("~/Content/custom/authentication.css")
}

@{
    ViewBag.Title = Resource.Title;
}

<div class="form-group">
    <div class="col-sm-6">
        <div class="section-title-container">
            @Html.Raw(Resource.Registration_info_section)
        </div>
    </div>
    <div class="col-sm-6">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal register-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="input-file-container col-xs-4">
                    <i class="fa fa-user input-image-icon"></i>
                    <p class="input-image-text top-buffer">@Resource.Add_picture</p>
                </div>
                <div class="input-names-container col-xs-8">
                    @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control first-name-input", placeholder = Resource.First_name})
                    @Html.TextBoxFor(m => m.LastName, new {@class = "form-control last-name-input", placeholder = Resource.Last_name})
                </div>
            </div>

            @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })
            <div class="form-group">
                <div class="inner-addon left-addon">
                    <i class="fa fa-user"></i>
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = Resource.Username })
                </div>
            </div>
            <div class="form-group">
                <div class="inner-addon left-addon">
                    <i class="fa fa-envelope-o"></i>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Resource.Email })
                </div>
            </div>
            <div class="form-group">
                <div class="inner-addon left-addon">
                    <i class="fa fa-lock"></i>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Resource.Password })
                </div>
            </div>
            <div class="form-group">
                <div class="inner-addon left-addon">
                    <i class="fa fa-lock"></i>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Resource.Confirm_password })
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <input type="submit" class="btn btn-warning register-button" value="@Resource.Register_button"/>
                </div>
            </div>

            <p class="text-center bottom-buffer register-button-login-page">
                @Html.ActionLink(Resource.Registered_user, "Login", new { controller = "Account", area = string.Empty })
            </p>
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
