@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@section scripts {
    @RenderSection("scripts", false)
}

@section styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
    @RenderSection("styles", false)
}

<header class="main-header">
    <a href="@Url.Action("Index", "Home", new { area = string.Empty })"><img src="~/images/logo-fullcolor.png" alt="happy me logo" class="header-logo" /></a>
    <a href="@Url.Action("Index", "Home", new { area = string.Empty })" class="pull-right btn btn-success btn-exit-main-layout">Към началото</a>
</header>

@RenderBody()