@model HappyMe.Web.ViewModels.Questions.QuestionViewModel

@{
    ViewBag.Title = Model.Text;
}

@Styles.Render("~/Content/custom/questions.css")

@section scripts {
    @Scripts.Render("~/Scripts/custom/questions/answer.js")
    <script>
        HappyMe.Questions.loadAnswerClickEvent(@(Model.Id), @(@Model.SessionId))
    </script>
}

<div class="col-md-12 text-center">
    <img src="@Model.ImageUrl" alt="@($"{Model.Text} - изображение")" />
</div>

@Html.Partial("_AlphabetAnswer", Model.Answers);