@model HappyMe.Web.ViewModels.Questions.QuestionViewModel

@{
    ViewBag.Title = Model.Text;
}

@Styles.Render("~/Content/custom/questions.css")

@section scripts {
    @Scripts.Render("~/Scripts/custom/questions/answer.js")
    <script>
        HappyMe.Questions.loadAnswerClickEvent(@(Model.Id), @(@Model.SessionId))
    </script>
}

<div class="section-title-container">
    <h1 class="section-title large-heading page-heading">@ViewBag.Title</h1>
</div>

<div>
    <div class="col-sm-4 col-xs-12 text-center">
        <img src="@Model.ImageUrl" alt="@($"{Model.Text} - изображение")" />
    </div>
    <div class="col-sm-8">
        <div class="row color-asnwers-wrapper one-answer-question-answers-wrapper">
            @Html.DisplayFor(m => m.Answers)
        </div>
    </div>
</div>
