@model HappyMe.Web.Models.ViewModels.Questions.QuestionViewModel

@{
    ViewBag.Title = Model.Text;
}

@section styles {
    @Styles.Render("~/Content/custom/questions.css")
    @Styles.Render("~/Scripts/vendor/jquery-ui/jquery-ui.css")
}

@section scripts {
    @Scripts.Render("~/Scripts/custom/questions/answer.js")
    @Scripts.Render("~/Scripts/vendor/jquery-ui/jquery-ui.js")
    <script>
        HappyMe.Questions.loadAnswerClickEvent(@(Model.Id), @(@Model.SessionId));
    </script>
}

<div class="text-center">
    <h1 class="question-title very-large-heading questions-page-heading"><span class="image-question-label">посочи</span> @ViewBag.Title</h1>
</div>

<div class="row answers-wrapper image-answers-wrapper">
    @Html.Partial("_ImageAnswers", Model.Answers)
</div>


@*TODO: Add to partial view*@
<div id="success-message" title="БРАВО!" style="display: none;" class="result-popup">
    <div class="modal-text cell">
        <p class="message">Това е правилен отговор.</p>
        <p class="message">Справяш се страхотно!</p>
    </div>
    <img src="~/Content/images/character_green.png" class="charachter-image cell" />
</div>

@*TODO: Add to partial view*@
<div id="error-message" title="Опитай пак :)" style="display: none;" class="result-popup">
    <div class="modal-text cell">
        <p class="message">Справяш се страхотно,</p>
        <p class="message">но опитай пак!</p>
    </div>
    <img src="~/Content/images/character_pink.png" class="charachter-image cell" />
</div>
