@model HappyMe.Web.ViewModels.Questions.QuestionViewModel

@{
    ViewBag.Title = Model.Text;
}

@section styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/css/questions.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
    </environment>
    <environment names="Staging,Production">
    </environment>
}

@section scripts {
    <environment names="Development">
        <script src="~/js/custom/questions/answer.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    </environment>
    <environment names="Staging,Production">
    </environment>

    <script>
        HappyMe.Questions.loadAnswerClickEvent(@(Model.Id), @(@Model.SessionId))
    </script>
}

<div class="col-md-12 text-center">
    <img class="alphabet-question-letter-image" src="@Model.ImageUrl" alt="@($"{Model.Text} - изображение")" />
</div>

@Html.Partial("_AlphabetAnswer", Model.Answers);
@Html.Partial("_CorrectAnswerPopup")
@Html.Partial("_WrongAnswerPopup")