@model HappyMe.Web.ViewModels.Questions.QuestionViewModel

@{
    ViewBag.Title = Model.Text;
}

@section styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/css/questions.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
    </environment>
    <environment names="Staging,Production">
    </environment>
}

@section scripts {
    <environment names="Development">
        <script src="~/js/custom/questions/answer.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    </environment>
    <environment names="Staging,Production">
    </environment>

    <script>
        HappyMe.Questions.loadAnswerClickEvent(@(Model.Id), @(@Model.SessionId))
    </script>
}

<div class="hidden-sm hidden-md hidden-lg col-xs-12 text-center">
    <img src="@Model.ImageUrl" alt="@($"{Model.Text} - изображение")" class="color-question-image" />
</div>

<div class="section-title-container">
    <h1 class="section-title large-heading page-heading">@ViewBag.Title</h1>
</div>

<div>
    <div class="hidden-xs col-sm-4 col-xs-12 text-center">
        <img src="@Model.ImageUrl" alt="@($"{Model.Text} - изображение")" class="color-question-image" />
    </div>
    <div class="col-sm-8">
        <div class="row color-answers-wrapper one-answer-question-answers-wrapper answers-wrapper">
            @Html.DisplayFor(m => m.Answers)
        </div>
    </div>
</div>

@Html.Partial("_CorrectAnswerPopup")
@Html.Partial("_WrongAnswerPopup")