@model HappyMe.Web.ViewModels.Questions.QuestionViewModel

@{
    ViewBag.Title = Model.Text;
}

@section styles{
    <environment names="Development">
        <link rel="stylesheet" href="~/css/questions.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
    </environment>
    <environment names="Staging,Production">
    </environment>
}

@section scripts {
    <environment names="Development">
        <script src="~/js/custom/questions/answer.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    </environment>
    <environment names="Staging,Production">
    </environment>

    <script>
        HappyMe.Questions.loadAnswerDragAndDropEvents(@(Model.Id), @(@Model.SessionId))
    </script>
}

<div class="section-title-container">
    <h1 class="section-title large-heading page-heading">@ViewBag.Title</h1>
</div>

<div id="question-answer-area" class="text-center drag-and-drop-question-area">
    <div class="col-md-8 drag-and-drop-question-container">
        <span class="drag-and-drop-box">
            <img src="@Model.ImageUrl" class="question-image" />
        </span>
        <span class="plus">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </span>
        <span class="drag-and-drop-box"></span>
    </div>
</div>

<div>
    <div class="col-sm-12">
        <div class="drag-and-drop-answers-wrapper">
            @Html.DisplayFor(m => m.Answers, "DragAndDropAnswers")
        </div>
    </div>
</div>

@Html.Partial("_CorrectAnswerPopup")
@Html.Partial("_WrongAnswerPopup")