@model HappyMe.Web.ViewModels.Questions.QuestionViewModel

@{
    ViewBag.Title = Model.Text;
}

@section styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/css/questions.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
    </environment>
    <environment names="Staging,Production">
    </environment>
}

@section scripts {
    <environment names="Development">
        <script src="~/js/custom/questions/answer.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    </environment>
    <environment names="Staging,Production">
    </environment>
    <script>
        HappyMe.Questions.loadAnswerClickEvent(@(Model.Id), @(@Model.SessionId));
    </script>
}

<div class="text-center">
    <h1 class="question-title very-large-heading questions-page-heading"><span class="image-question-label">посочи</span> @ViewBag.Title</h1>
</div>

<div class="row answers-wrapper image-answers-wrapper">
    @Html.Partial("_ImageAnswers", Model.Answers)
</div>

@Html.Partial("_CorrectAnswerPopup")
@Html.Partial("_WrongAnswerPopup")