@using HappyMe.Web.Areas.Administration.Controllers
@model HappyMe.Web.Areas.Administration.InputModels.Modules.ModuleCreateInputModel

@{
    ViewBag.Title = "Добавяне на нов модул";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(
    nameof(ModulesController.Create),
    "Modules",
    FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        @Html.EditorFor(x => x.Name)
    </div>

    <div class="form-group">
        @Html.EditorFor(x => x.Description)
    </div>

    <div class="form-group">
        @Html.EditorFor(x => x.IsActive)
        <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="Достъпен ли е модула за външния свят?"></span>
    </div>

    <div class="form-group">
        @Html.EditorFor(m => m.IsPublic)
        <span class="glyphicon glyphicon-question-sign" rel="tooltip" title="Могат ли всички хора да достъпват модула?"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Създай" class="btn btn-primary" />
        <input type="button" value="Назад" onClick="history.go(-1);return true;" class="btn btn-blue"/>
    </div>
}
