@using HappyMe.Web.Controllers

@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/font-awesome")
@Styles.Render("~/Content/jquery-gritter")
@Styles.Render("~/Content/administration-css")

<div class="administration-container">
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="#" class="logo">
            <b>HappyMe</b>
        </a>
        <!--logo end-->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li>
                    @using (Html.BeginForm("LogOff", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="logout btn btn-default">Logout</a>
                    }
                </li>
            </ul>
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered">
                    <a href="/profile"><img src="/Content/images/ui-zac.jpg" class="img-circle" width="60"></a>
                </p>
                <h5 class="centered">Marcel Newman</h5>

                <li class="mt">
                    <a class="active" href="/administration/dashboard/index">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="mt">
                    <a href="/administration/modules/index">
                        <i class="fa fa-puzzle-piece"></i>
                        <span>Modules</span>
                    </a>
                </li>

                <li class="mt">
                    <a href="/administration/images/index">
                        <i class="fa fa-camera"></i>
                        <span>Images</span>
                    </a>
                </li>

                <li class="mt">
                    <a href="/administration/questions/index">
                        <i class="fa fa-question-circle"></i>
                        <span>Questions</span>
                    </a>
                </li>

                <li class="mt">
                    <a href="/administration/answers/index">
                        <i class="fa fa-comments"></i>
                        <span>Answers</span>
                    </a>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    @RenderBody()
                </div><!-- /col-lg-12 END SECTION MIDDLE -->
            </div><!-- /row -->
        </section>
    </section>

    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2016 - HappyMe
        </div>
    </footer>
    <!--footer end-->
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery-gritter")
@Scripts.Render("~/bundles/nice-scroll")
@Scripts.Render("~/bundles/administration-scripts")

<script type="text/javascript">
    CKEDITOR_BASEPATH = '@(Url.Content("~/Scripts/vendor/ckeditor/"))';
</script>

@Scripts.Render("~/bundles/ckeditor")
@RenderSection("scripts", required: false)

<script type="application/javascript">

</script>