@model HappyMe.Web.ViewModels.Questions.QuestionViewModel

@{
    ViewBag.Title = Model.Text;
}

@section styles{
    @Styles.Render("~/Content/custom/questions.css")
    @Styles.Render("~/Scripts/vendor/jquery-ui/jquery-ui.css")
}

@section scripts {
    @Scripts.Render("~/Scripts/custom/questions/answer.js")
    @Scripts.Render("~/Scripts/vendor/jquery-ui/jquery-ui.js")

    <script>
        HappyMe.Questions.loadAnswerDragAndDropEvents(@(Model.Id), @(@Model.SessionId))
    </script>
}

<div class="section-title-container">
    <h1 class="section-title large-heading page-heading">@ViewBag.Title</h1>
</div>

<div id="question-answer-area" class="text-center drag-and-drop-question-area">
    <div class="col-md-8 drag-and-drop-question-container">
        <span class="drag-and-drop-box">
            <img src="@Model.ImageUrl" class="question-image"/>
        </span>
        <span class="plus">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </span>
        <span class="drag-and-drop-box"></span>
    </div>
</div>

<div>
    <div class="col-sm-12">
        <div class="drag-and-drop-answers-wrapper">
            @Html.DisplayFor(m => m.Answers, "DragAndDropAnswers")
        </div>
    </div>
</div>
@*TODO: Add to partial view*@
<div id="success-message" title="БРАВО!" style="display: none;" class="result-popup">
    <div class="modal-text cell">
        <p class="message">Това е правилен отговор.</p>
        <p class="message">Справяш се страхотно!</p>
    </div>
    <img src="~/Content/images/character_green.png" class="charachter-image cell" />
</div>

@*TODO: Add to partial view*@
<div id="error-message" title="Опитай пак :)" style="display: none;" class="result-popup">
    <div class="modal-text cell">
        <p class="message">Справяш се страхотно,</p>
        <p class="message">но опитай пак!</p>
    </div>
    <img src="~/Content/images/character_pink.png" class="charachter-image cell" />
</div>
