@using HappyMe.Web.Common.Extensions
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section scripts {
    @RenderSection("scripts", false)
}

@section styles {
    @RenderSection("styles", false)
    @Styles.Render("~/Content/landing-page")
}

<header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home", new { area = string.Empty })" class="navbar-brand">
                    <img class="nav-logo" alt="Happy Me Logo" src="~/Content/images/nav-logo-min.png">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a class="scroll" href="#homepage">начало</a></li>
                    <li class=""><a class="scroll" href="#mission">мисия</a></li>
                    <li class=""><a class="scroll" href="#functions">функции</a></li>
                    <li class=""><a class="scroll" href="#modules">модули</a></li>
                    @*<li class=""><a class="scroll" href="#tutorial">как да започнем</a></li>
                        <li class=""><a class="scroll" href="#why-happy">защо happy me?</a></li>*@
                    <li class=""><a class="scroll" href="#team">екип</a></li>
                    <li class=""><a class="scroll" href="#contact-us">контакти</a></li>
                    @if (this.User.IsAdmin())
                    {
                        <li class="">@Html.ActionLink("Администрация", "Index", new { controller = "Dashboard", area = "Administration" }, null)</li>
                    }

                    @*<li class=""><a href="@Url.Action("Login", "Account", new { area = string.Empty })">влез</a></li>*@
                    @*<li class=""><a href="@Url.Action("Register", "Account", new { area = string.Empty })">регистрирай се</a></li>*@
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
</header>

@RenderBody()

<footer>
    <p>&copy; @DateTime.Now.Year - Happy Me</p>
</footer>