@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@section scripts {
    @RenderSection("scripts", false)
}

@section styles {
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
}

<header class="main-header">
    <a href="@Url.Action("Index", "Home", new { area = string.Empty })"><img src="~/Content/images/logo-fullcolor.png" alt="happy me logo" class="header-logo" /></a>
    <button class="pull-right btn btn-blue btn-exit-main-layout">Изход</button>
</header>

@RenderBody()