<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Me</title>

    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/lato-font")
    @Styles.Render("~/Content/slick")
</head>
<body>
<header class="main-header">
    <img src="~/Content/images/logo-fullcolor.png" alt="happy me logo" class="header-logo"/>
    <button class="pull-right">Изход</button>
</header>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>
