<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Me</title>

    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/lending-page")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/lato-font")
    @Styles.Render("~/Content/slick")
</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/home/index" class="navbar-brand">
                        <img class="nav-logo" alt="Happy Me Logo" src="~/Content/images/nav-logo-min.png">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class=""><a class="scroll" href="#homepage">начало</a></li>
                        <li class=""><a class="scroll" href="#mission">мисия</a></li>
                        <li class=""><a class="scroll" href="#functions">функции</a></li>
                        <li class=""><a class="scroll" href="#modules">модули</a></li>
                        <li class=""><a class="scroll" href="#tutorial">как да започнем</a></li>
                        <li class=""><a class="scroll" href="#why-happy">защо happy me?</a></li>
                        <li class=""><a class="scroll" href="#team">екип</a></li>
                        <li class=""><a class="scroll" href="#contact-us">контакти</a></li>
                    </ul>
                    @*@Html.Partial("_LoginPartial")*@
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer>
        <p>&copy; @DateTime.Now.Year - Happy Me</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>
