@using HappyMe.Web.Areas.Administration.Controllers

@model HappyMe.Web.Areas.Administration.InputModels.Questions.QuestionCreateInputModel

@{
    ViewBag.Title = "Добавяне на нов въпрос";
}

<div class="section-title-container">
    <h3 class="section-title">@ViewBag.Title</h3>
</div>

@using (Html.BeginForm(nameof(QuestionsController.Create), "Questions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()

    @Html.EditorFor(x => x.ModulesIds)

    @Html.EditorFor(m => m.ImageData, new { htmlAttributes = new { @class = "top-buffer" }})

    <input type="button" value="Назад" onClick="history.go(-1);return true;" class="btn btn-blue" />
    <input type="submit" value="Създай" class="btn btn-success pull-right" />
}

@section scripts {
    <script type="text/javascript">
        HappyMe.MultiSelectHelper.loadMultiSelect('#ModulesIds', {
            allow_single_deselect: true
        });
    </script>
}