@model HappyMe.Web.Areas.Administration.ViewModels.Dashboard.ChildViewModel

<div class="col-md-3 col-sm-6 dasboard-child-container top-buffer">
    <div class="inner-container">
        <img src="@Model.ImageUrl" alt="Picture of @Model.ImageUrl" class="img-responsive img-circle" />
        <h3 class="large-heading">@Html.DisplayFor(x => x.UserName)</h3>
        @Html.ActionLink("Виж cтатистика", "Index", "ChildrenStatistics", new { area = "Administration", username = Model.UserName }, new { @class = "btn btn-warning top-buffer btn-rounded" })
        @Html.ActionLink("Започни сесия", "LoginChild", "Dashboard", new { area = "Administration", username = Model.UserName }, new { @class = "btn btn-primary top-buffer btn-rounded" })
    </div>
</div>

